/*
	atomic-css.css */

._p-a {position: absolute;}
._p-r {position: relative;}
._p-static {position: static;}
._p-f, .affix {position: fixed;}

._m-0 {margin: 0 0 0 0;}
._mb-0 {margin-bottom: 0;}
._mt-0 {margin-top: 0;}
._ml-0 {margin-left: 0;}
._mr-0 {margin-right: 0;}

._m-center, .center {margin-right: auto;margin-left: auto;}
._m-xs {margin: $_xs;}
._m-s {margin: $_s;}
._m-m {margin: $_m;}
._m-l {margin: $_l;}
._m-xl {margin: $_xl;}
._m-xxl {margin: $_xxl;}

._m-x-0 {margin-right: 0;margin-left: 0;}
._m-x-a {margin-right: auto;margin-left: auto;}

._m-x-xs {margin-right: $_xs;margin-left: $_xs;}
._m-x-s {margin-right: $_s;margin-left: $_s;}
._m-x-m {margin-right: $_m;margin-left: $_m;}
._m-x-l {margin-right: $_l;margin-left: $_l;}
._m-x-xl {margin-right: $_xl;margin-left: $_xl;}
._m-x-xxl {margin-right: $_xxl;margin-left: $_xxl;}

._m-y-0 {margin-top: 0;margin-bottom: 0;}
._m-y-a {margin-top: auto;margin-bottom: auto;}

._m-y-xs {margin-top: $_xs;margin-bottom: $_xs;}
._m-y-s {margin-top: $_s;margin-bottom: $_s;}
._m-y-m {margin-top: $_m;margin-bottom: $_m;}
._m-y-l {margin-top: $_l;margin-bottom: $_l;}
._m-y-xl {margin-top: $_xl;margin-bottom: $_xl;}
._m-y-xxl {margin-top: $_xxl;margin-bottom: $_xxl;}

._mt-xs {margin-top: $_xs;}
._mt-s {margin-top: $_s;}
._mt-m {margin-top: $_m;}
._mt-l {margin-top: $_l;}
._mt-xl {margin-top: $_xl;}
._mt-xxl {margin-top: $_xxl;}

._mr-xs {margin-right: $_xs;}
._mr-s {margin-right: $_s;}
._mr-m {margin-right: $_m;}
._mr-l {margin-right: $_l;}
._mr-xl {margin-right: $_xl;}
._mr-xxl {margin-right: $_xxl;}

._mb-xs {margin-bottom: $_xs;}
._mb-s {margin-bottom: $_s;}
._mb-m {margin-bottom: $_m;}
._mb-l {margin-bottom: $_l;}
._mb-xl {margin-bottom: $_xl;}
._mb-xxl {margin-bottom: $_xxl;}

._ml-xs {margin-left: $_xs;}
._ml-s {margin-left: $_s;}
._ml-m {margin-left: $_m;}
._ml-l {margin-left: $_l;}
._ml-xl {margin-left: $_xl;}
._ml-xxl {margin-left: $_xxl;}

._p-0 {padding: 0 0 0 0;}
._pt-0 {padding-top: 0;}
._pr-0 {padding-right: 0;}
._pb-0 {padding-bottom: 0;}
._pl-0 {padding-left: 0;}

._p-xs {padding: $_xs;}
._p-s {padding: $_s;}
._p-m {padding: $_m;}
._p-l {padding: $_l;}
._p-xl {padding: $_xl;}
._p-xxl {padding: $_xxl;}

._p-x-0 {padding-right: 0;padding-left: 0;}

._p-x-xs {padding-right: $_xs;padding-left: $_xs;}
._p-x-s {padding-right: $_s;padding-left: $_s;}
._p-x-m {padding-right: $_m;padding-left: $_m;}
._p-x-l {padding-right: $_l;padding-left: $_l;}
._p-x-xl {padding-right: $_xl;padding-left: $_xl;}
._p-x-xxl {padding-right: $_xxl;padding-left: $_xxl;}

._p-y-0 {padding-top: 0;padding-bottom: 0;}

._p-y-xs {padding-top: $_xs;padding-bottom: $_xs;}
._p-y-s {padding-top: $_s;padding-bottom: $_s;}
._p-y-m {padding-top: $_m;padding-bottom: $_m;}
._p-y-l {padding-top: $_l;padding-bottom: $_l;}
._p-y-xl {padding-top: $_xl;padding-bottom: $_xl;}
._p-y-xxl {padding-top: $_xxl;padding-bottom: $_xxl;}

._pt-xs {padding-top: $_xs;}
._pt-s {padding-top: $_s;}
._pt-m {padding-top: $_m;}
._pt-l {padding-top: $_l;}
._pt-xl {padding-top: $_xl;}
._pt-xxl {padding-top: $_xxl;}

._pr-xs {padding-right: $_xs;}
._pr-s {padding-right: $_s;}
._pr-m {padding-right: $_m;}
._pr-l {padding-right: $_l;}
._pr-xl {padding-right: $_xl;}
._pr-xxl {padding-right: $_xxl;}

._pl-xs {padding-left: $_xs;}
._pl-s {padding-left: $_s;}
._pl-m {padding-left: $_m;}
._pl-l {padding-left: $_l;}
._pl-xl {padding-left: $_xl;}
._pl-xxl {padding-left: $_xxl;}

._pb-xs {padding-bottom: $_xs;}
._pb-s {padding-bottom: $_s;}
._pb-m {padding-bottom: $_m;}
._pb-l {padding-bottom: $_l;}
._pb-xl {padding-bottom: $_xl;}
._pb-xxl {padding-bottom: $_xxl;}

._w-a {width: auto;}
._w-100vw {width: $_100vw;}
._w-5 {width: 5%;}
._w-10 {width: 10%;}
._w-15 {width: 15%;}
._w-20 {width: 20%;}
._w-25 {width: 25%;}
._w-30 {width: 30%;}
._w-35 {width: 35%;}
._w-40 {width: 40%;}
._w-45 {width: 45%;}
._w-50 {width: 50%;}
._w-55 {width: 55%;}
._w-60 {width: 60%;}
._w-65 {width: 65%;}
._w-70 {width: 70%;}
._w-75 {width: 75%;}
._w-80 {width: 80%;}
._w-85 {width: 85%;}
._w-90 {width: 90%;}
._w-95 {width: 95%;}
._w-100 {width: 100%;}

._w-16 {width: $_16;}
._w-33 {width: $_33;}
._w-66 {width: $_66;}
._w-83 {width: $_83;}

._h-a {height: auto;}
._h-100, ._h-f {height: 100%;}
._h-$_100vh {height: $_100vh;}

._d-i {display: inline;}
._d-ib, .show {display: inline-block;}
._d-b {display: block;}
._d-n, .hide {display: none;}
._d-t {display: table;}
._d-tc {display: table-cell;}

._bs-b {box-sizing: border-box;}
._bs-c {box-sizing: content-box;}
._bs-p {box-sizing: padding-box;}

._va-t {vertical-align: top;}
._va-m {vertical-align: middle;}
._va-b {vertical-align: bottom;}

._f-r {float: right;}
._f-l {float: left;}
._f-n {float: none;}

._c-b {clear: both;}
._c-l {clear: left;}
._c-r {clear: right;}

._v-h, .hidden {visibility: hidden;}
._v-v {visibility: visible;}

._o-a {overflow: auto}
._o-h {overflow: hidden}
._o-s {overflow: scroll}
._o-v {overflow: visible}

._ox-a {overflow-x: auto;}
._ox-h {overflow-x: hidden;}
._oy-a {overflow-y: auto;}
._oy-h {overflow-y: hidden;}

._b-0 {border: 0 none;}
._b-1 {border: 1px solid;}

._ta-l, .text-left {text-align: left;}
._ta-c, .text-center {text-align: center;}
._ta-r, .text-right {text-align: right;}
._ta-j, .text-justify {text-align: justify;}

._fs-a, .text-smooth {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-ms-font-smoothing: antialiased;}

._fs-xs {font-size: $_s;}
._fs-s {font-size: 0.75rem;}
._fs-m {font-size: $_m;}
._fs-l {font-size: 1.25rem;}
._fs-xl {font-size: $_l;}
._fs-xxl {font-size: $_l;}

._lh-n {line-height: normal;}
._lh-1 {line-height: 1;}
._lh-13 {line-height: 1.3;}
._lh-14 {line-height: 1.4;}
._lh-15 {line-height: 1.5;}
._lh-2 {line-height: 2;}

._fw-n {font-weight: normal;}
._fw-l {font-weight: 300;}
._fw-m {font-weight: 400;}
._fw-b {font-weight: 700;}

._tt-c {text-transform: capitalize;}
._tt-u {text-transform: uppercase;}
._tt-l {text-transform: lowercase;}

._fsty-i {font-style: italic;}
._fsty-n {font-style: normal;}
._fsty-o {font-style: oblique;}

._br-xs {border-radius: 0.125rem;}
._br-s {border-radius: 0.250rem;}
._br-m {border-radius: 0.500rem;}
._br-l {border-radius: 0.750rem;}
._br-xl {border-radius: 1.000rem;}
._br-xxl {border-radius: 1.250rem;}
._br-50 {border-radius: 50%;}

._br-t-xs {border-top-left-radius: 0.125rem;border-top-right-radius: 0.125rem;}
._br-t-s {border-top-left-radius: 0.250rem;border-top-right-radius: 0.250rem;}
._br-t-m {border-top-left-radius: 0.500rem;border-top-right-radius: 0.500rem;}
._br-t-l {border-top-left-radius: 10.125rem;border-top-right-radius: 10.125rem;}
._br-t-xl {border-top-left-radius: 1.000rem;border-top-right-radius: 1.000rem;}
._br-t-xxl {border-top-left-radius: 1.250rem;border-top-right-radius: 1.250rem;}

._br-b-xs {border-bottom-right-radius: 0.125rem;border-bottom-left-radius: 0.125rem;}
._br-b-s {border-bottom-right-radius: 0.250rem;border-bottom-left-radius: 0.250rem;}
._br-b-m {border-bottom-right-radius: 0.500rem;border-bottom-left-radius: 0.500rem;}
._br-b-l {border-bottom-right-radius: 0.750rem;border-bottom-left-radius: 0.750rem;}
._br-b-xl {border-bottom-right-radius: 1.000rem;border-bottom-left-radius: 1.000rem;}
._br-b-xxl {border-bottom-right-radius: 1.250rem;border-bottom-left-radius: 1.250rem;}


@media only screen and (max-width: 1023px) {
    ._m-l, ._m-xl, ._m-xxl {margin: $_l;}
    ._mr-l, ._mr-xl, ._mr-xxl {margin-right: $_l;}
    ._ml-l, ._ml-xl, ._ml-xxl {margin-left: $_l;}
    ._mt-l, ._mt-xl, ._mt-xxl {margin-top: $_l;}
    ._mb-l, ._mb-xl, ._mb-xxl {margin-bottom: $_l;}
    ._m-y-l, ._m-y-xl, ._mb-y-xxl {margin-top: $_l;margin-bottom: $_l;}
    ._m-x-l, ._m-x-xl, ._mb-x-xxl {margin-right: $_l;margin-left: $_l;}

    ._p-l, ._p-xl, ._p-xxl {padding: $_l;}
    ._pr-l, ._pr-xl, ._pr-xxl {padding-right: $_l;}
    ._pl-l, ._pl-xl, ._pl-xxl {padding-left: $_l;}
    ._pt-l, ._pt-xl, ._pt-xxl {padding-top: $_l;}
    ._pb-l, ._pb-xl, ._pb-xxl {padding-bottom: $_l;}
    ._p-y-l, ._p-y-xl, ._pb-y-xxl {padding-top: $_l;padding-bottom: $_l;}
    ._p-x-l, ._p-x-xl, ._pb-x-xxl {padding-right: $_l;padding-left: $_l;}
}

@media only screen and (max-width: 640px) {
    ._m-l, ._m-xl, ._m-xxl {margin: $_m;}
    ._mr-l, ._mr-xl, ._mr-xxl {margin-right: $_m;}
    ._ml-l, ._ml-xl, ._ml-xxl {margin-left: $_m;}
    ._mt-l, ._mt-xl, ._mt-xxl {margin-top: $_m;}
    ._mb-l, ._mb-xl, ._mb-xxl {margin-bottom: $_m;}
    ._m-y-l, ._m-y-xl, ._mb-y-xxl {margin-top: $_m;margin-bottom: $_m;}
    ._m-x-l, ._m-x-xl, ._mb-x-xxl {margin-right: $_m;margin-left: $_m;}

    ._p-l, ._p-xl, ._p-xxl {padding: $_m;}
    ._pr-l, ._pr-xl, ._pr-xxl {padding-right: $_m;}
    ._pl-l, ._pl-xl, ._pl-xxl {padding-left: $_m;}
    ._pt-l, ._pt-xl, ._pt-xxl {padding-top: $_m;}
    ._pb-l, ._pb-xl, ._pb-xxl {padding-bottom: $_m;}
    ._p-y-l, ._p-y-xl, ._pb-y-xxl {padding-top: $_m;padding-bottom: $_m;}
    ._p-x-l, ._p-x-xl, ._pb-x-xxl {padding-right: $_m;padding-left: $_m;}
}
