/*
  buttons.css */

button,
[type="reset"],
[type="radio"],
[type="button"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  padding: 0 $_m;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  letter-spacing: .0$_xxl;
  word-spacing: normal;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  word-wrap: normal;
  color: white;
  font-weight: bolder;
  background-color: transparent;
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btn.-small {
  padding: 0 .625rem;
}

.btn.-medium {
  padding: 0 $_l;
}

.btn.-large {
  padding: 0 $_xl;
}

.btn.-block {
  display: block;
  width: 100%;
}

a.btn {
  text-decoration: none;
}

label.btn {
  margin: 0;
}

.btn.-default,
button {
  background-color: #bbb;
}

.btn.-default:hover,
button:hover {
  background-color: #ccc;
}

.btn.-default:active,
button:active {
  background-color: #aaa;
}

.btn.-blue {
  background-color: #2773fa;
}

.btn.-blue:hover {
  background-color: #639ff8;
}

.btn.-blue:active {
  background-color: #2a65f0;
}

.btn.-green {
  background-color: #00b26b;
}

.btn.-green:hover {
  background-color: #15c780;
}

.btn.-green:active {
  background-color: #0a8a57;
}

.btn.-red {
  background-color: #f15b40;
}

.btn.-red:hover {
  background-color: #f9745c;
}

.btn.-red:active {
  background-color: #c75540;
}

.btn.-yellow {
  background-color: #f5b400;
}

.btn.-yellow:hover {
  background-color: #f8c500;
}

.btn.-yellow:active {
  background-color: #f09900;
}

.btn.-grey {
  background-color: #767676;
}

.btn.-grey:hover {
  background-color: #838383;
}

.btn.-grey:active {
  background-color: #606060;
}

.btn.-white {
  color: #333;
  background-color: white;
}

.btn.-white:hover {
  color: #555;
  background-color: white;
}

.btn.-white:active {
  background-color: white;
}

.btn.-black {
  color: #eee;
  background-color: black;
}

.btn.-black:hover {
  color: #fff;
  background-color: #222;
}

.btn.-black:active {
  background-color: black;
}

.btn.-border {
  color: #bbb;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #bbb;
}

.btn.-border:hover,
.btn.-border:active,
.btn.-border.active {
  color: white;
  background-color: #bbb;
}

.btn.-border-blue {
  color: #2773fa;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #2773fa;
}

.btn.-border-blue:hover,
.btn.-border-blue:active,
.btn.-border-blue.active {
  color: white;
  background-color: #2773fa;
}

.btn.-border-green {
  color: #00a155;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #00a155;
}

.btn.-border-green:hover,
.btn.-border-green:active,
.btn.-border-green.active {
  color: white;
  background-color: #00a155;
}

.btn.-border-red {
  color: #df402d;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #df402d;
}

.btn.-border-red:hover,
.btn.-border-red:active,
.btn.-border-red.active {
  color: white;
  background-color: #df402d;
}

.btn.-border-yellow {
  color: #f5b400;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #f5b400;
}

.btn.-border-yellow:hover,
.btn.-border-yellow:active,
.btn.-border-yellow.active {
  color: white;
  background-color: #f5b400;
}

.btn.-border-grey {
  color: #767676;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #767676;
}

.btn.-border-grey:hover,
.btn.-border-grey.active,
.btn.-border-grey:active {
  color: white;
  background-color: #767676;
}

.btn.-border-white {
  color: white;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px white;
}

.btn.-border-white:hover,
.btn.-border-white:active,
.btn.-border-white.active {
  color: #555;
  background-color: white;
}

.btn.-border-black {
  color: black;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px black;
}

.btn.-border-black:hover,
.btn.-border-black:active,
.btn.-border-black.active {
  color: white;
  background-color: black;
}

.btn.-link {
  overflow: visible;
  padding: 0;
}

.-link {
  color: inherit;
}
