/*
grid.css
By Paulo Melo */


/*----------------------------------------------------------------------------*/


/*
*  (16*16 = 256)
*  256 * 2 = 512px
*  256 * 3 = 768px
*  256 * 4 = 1024px
*  256/2*9 = 1152px
*/


/*
Small
@media only screen and (min-width: 0px) and (max-width: 511px) {}

Medium
@media only screen and (min-width: 512px) and (max-width: 1023px) {}

Large
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1024px) and (max-width: 1151px) {}

Extra Large
@media only screen and (min-width: 1152px) {}
*/


/*----------------------------------------------------------------------------*/

.grid {
  position: relative;
  clear: both;
}

@media only screen and (min-width: 0) and (max-width: 511px) {
  .grid {
    margin-right: .5rem;
    margin-left: .5rem;
  }
}

@media only screen and (min-width: 512px) and (max-width: 767px) {
  .grid {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    max-width: calc(1140px + 2rem);
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .grid.-wide {
    margin-right: 2rem;
    margin-left: 2rem;
    padding-right: 0;
    padding-left: 0;
  }
}

.grid .grid,
.grid.-fullwidth {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.grid.-fullwidth {
  max-width: none;
}

.grid::before,
.grid::after {
  display: table;
  content: '';
}

.grid::after {
  clear: both;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col {
  float: left;
  min-height: 1px;
}

.col::before {
  display: table;
  content: '';
}

.col::after {
  clear: both;
}

.col:empty {
  padding: 0 !important;
}

.grid-inline {
  word-spacing: -.32360679775rem;
}

.col.grid-inline {
  word-spacing: -.32360679775rem !important;
}

.grid-inline>.col {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  word-spacing: normal;
}

.-va-t>.col {
  vertical-align: top;
}

.-va-m>.col {
  vertical-align: middle;
}

.-va-b>.col {
  vertical-align: bottom;
}

.gutter-m::before,
.gutter-l::before,
.gutter-xl::before,
.gutter-m::after,
.gutter-l::after,
.gutter-xl::after {
  display: table;
  content: '';
}

.gutter-m::after,
.gutter-l::after,
.gutter-xl::after {
  clear: both;
}

.gutter-m,
.gutter-l,
.gutter-xl {
  display: block;
}

@media only screen and (max-width: 1023px) {
  html .col {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #html .col>.col {
    padding-top: 0;
    padding-bottom: 0;
  }
  #html #globalHeader .col {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 0) and (max-width: 511px) {
  html,
  body {
    min-width: 300px;
  }
  .hidden-s {
    display: none!important;
  }
  .col.s-1 {
    width: 100%;
  }
  .col.s-2 {
    width: 50%;
  }
  .col.s-3 {
    width: 33.3333334%;
  }
  .col.s-3x2 {
    width: 66.6666666667%;
  }
  .col.s-4 {
    width: 25%;
  }
  .col.s-4x2 {
    width: 50%;
  }
  .col.s-4x3 {
    width: 75%;
  }
  .col.s-6 {
    width: 16.6666667%;
  }
  .col.s-6x2 {
    width: 33.3333334%;
  }
  .col.s-6x3 {
    width: 50%;
  }
  .col.s-6x4 {
    width: 66.6666666667%;
  }
  .col.s-6x5 {
    width: 83.3333333333%;
  }
  .gutter-m>.col.s-1 {
    width: calc(100% - .5rem);
  }
  .gutter-m>.col.s-2 {
    width: calc(50% - .5rem);
  }
  .gutter-m>.col.s-3 {
    width: calc(33.3333334% - .5rem);
  }
  .gutter-m>.col.s-4 {
    width: calc(25% - .5rem);
  }
  .gutter-m>.col.s-6 {
    width: calc(16.6666667% - .5rem);
  }
  .gutter-m>.col.s-6x2 {
    width: calc(33.3333334% - .5rem);
  }
  .gutter-m>.col.s-6x3 {
    width: calc(50% - .5rem);
  }
  .gutter-m>.col.s-6x4 {
    width: calc(66.6666666667% - .5rem);
  }
  .gutter-m>.col.s-6x5 {
    width: calc(83.3333333333% - .5rem);
  }
  .gutter-m>.col.s-4x2 {
    width: calc(50% - .5rem);
  }
  .gutter-m>.col.s-4x3 {
    width: calc(75% - .5rem);
  }
  .gutter-m>.col.s-3x2 {
    width: calc(66.6666666667% - .5rem);
  }
  .gutter-l>.col.s-1 {
    width: calc(100% - 1rem);
  }
  .gutter-l>.col.s-2 {
    width: calc(50% - 1rem);
  }
  .gutter-l>.col.s-3 {
    width: calc(33.3333334% - 1rem);
  }
  .gutter-l>.col.s-4 {
    width: calc(25% - 1rem);
  }
  .gutter-l>.col.s-6 {
    width: calc(16.6666667% - 1rem);
  }
  .gutter-l>.col.s-6x2 {
    width: calc(33.3333334% - 1rem);
  }
  .gutter-l>.col.s-6x3 {
    width: calc(50% - 2rem);
  }
  .gutter-l>.col.s-6x4 {
    width: calc(66.6666666667% - 1rem);
  }
  .gutter-l>.col.s-6x5 {
    width: calc(83.3333333333% - 1rem);
  }
  .gutter-l>.col.s-4x2 {
    width: calc(50% - 2rem);
  }
  .gutter-l>.col.s-4x3 {
    width: calc(75% - 1rem);
  }
  .gutter-l>.col.s-3x2 {
    width: calc(66.6666666667% - 1rem);
  }
  .gutter-xl>.col.s-1 {
    width: calc(100% - 1.5rem);
  }
  .gutter-xl>.col.s-2 {
    width: calc(50% - 1.5rem);
  }
  .gutter-xl>.col.s-3 {
    width: calc(33.3333334% - 1.5rem);
  }
  .gutter-xl>.col.s-4 {
    width: calc(25% - 1.5rem);
  }
  .gutter-xl>.col.s-6 {
    width: calc(16.6666667% - 1.5rem);
  }
  .gutter-xl>.col.s-6x2 {
    width: calc(33.3333334% - 1.5rem);
  }
  .gutter-xl>.col.s-6x3 {
    width: calc(50% - 1.5rem);
  }
  .gutter-xl>.col.s-6x4 {
    width: calc(66.6666666667% - 1.5rem);
  }
  .gutter-xl>.col.s-6x5 {
    width: calc(83.3333333333% - 1.5rem);
  }
  .gutter-xl>.col.s-4x2 {
    width: calc(50% - 1.5rem);
  }
  .gutter-xl>.col.s-4x3 {
    width: calc(75% - 1.5rem);
  }
  .gutter-xl>.col.s-3x2 {
    width: calc(66.6666666667% - 1.5rem);
  }
}

@media only screen and (min-width: 512px) and (max-width: 1023px) {
  .col.m-1 {
    width: 100%;
  }
  .col.m-2 {
    width: 50%;
  }
  .col.m-3 {
    width: 33.3333334%;
  }
  .col.m-4 {
    width: 25%;
  }
  .col.m-6 {
    width: 16.6666667%;
  }
  .col.m-6x2 {
    width: 33.3333334%;
  }
  .col.m-6x3 {
    width: 50%;
  }
  .col.m-6x4 {
    width: 66.6666666667%;
  }
  .col.m-6x5 {
    width: 83.3333333333%;
  }
  .col.m-4x2 {
    width: 50%;
  }
  .col.m-4x3 {
    width: 75%;
  }
  .col.m-3x2 {
    width: 66.6666666667%;
  }
  .hidden-m {
    display: none!important;
    visibility: hidden!important;
  }
  .gutter-m>.col.m-1 {
    width: calc(100% - .5rem);
  }
  .gutter-m>.col.m-2 {
    width: calc(50% - .5rem);
  }
  .gutter-m>.col.m-3 {
    width: calc(33.3333334% - .5rem);
  }
  .gutter-m>.col.m-4 {
    width: calc(25% - .5rem);
  }
  .gutter-m>.col.m-6 {
    width: calc(16.6666667% - .5rem);
  }
  .gutter-m>.col.m-6x2 {
    width: calc(33.3333334% - .5rem);
  }
  .gutter-m>.col.m-6x3 {
    width: calc(50% - .5rem);
  }
  .gutter-m>.col.m-6x4 {
    width: calc(66.6666666667% - .5rem);
  }
  .gutter-m>.col.m-6x5 {
    width: calc(83.3333333333% - .5rem);
  }
  .gutter-m>.col.m-4x2 {
    width: calc(50% - .5rem);
  }
  .gutter-m>.col.m-4x3 {
    width: calc(75% - .5rem);
  }
  .gutter-m>.col.m-3x2 {
    width: calc(66.6666666667% - .5rem);
  }
  .gutter-l>.col.m-1 {
    width: calc(100% - 1rem);
  }
  .gutter-l>.col.m-2 {
    width: calc(50% - 1rem);
  }
  .gutter-l>.col.m-3 {
    width: calc(33.3333334% - 1rem);
  }
  .gutter-l>.col.m-4 {
    width: calc(25% - 1rem);
  }
  .gutter-l>.col.m-6 {
    width: calc(16.6666667% - 1rem);
  }
  .gutter-l>.col.m-6x2 {
    width: calc(33.3333334% - 1rem);
  }
  .gutter-l>.col.m-6x3 {
    width: calc(50% - 2rem);
  }
  .gutter-l>.col.m-6x4 {
    width: calc(66.6666666667% - 1rem);
  }
  .gutter-l>.col.m-6x5 {
    width: calc(83.3333333333% - 1rem);
  }
  .gutter-l>.col.m-4x2 {
    width: calc(50% - 2rem);
  }
  .gutter-l>.col.m-4x3 {
    width: calc(75% - 1rem);
  }
  .gutter-l>.col.m-3x2 {
    width: calc(66.6666666667% - 1rem);
  }
  .gutter-xl>.col.m-1 {
    width: calc(100% - 1.5rem);
  }
  .gutter-xl>.col.m-2 {
    width: calc(50% - 1.5rem);
  }
  .gutter-xl>.col.m-3 {
    width: calc(33.3333334% - 1.5rem);
  }
  .gutter-xl>.col.m-4 {
    width: calc(25% - 1.5rem);
  }
  .gutter-xl>.col.m-6 {
    width: calc(16.6666667% - 1.5rem);
  }
  .gutter-xl>.col.m-6x2 {
    width: calc(33.3333334% - 1.5rem);
  }
  .gutter-xl>.col.m-6x3 {
    width: calc(50% - 1.5rem);
  }
  .gutter-xl>.col.m-6x4 {
    width: calc(66.6666666667% - 1.5rem);
  }
  .gutter-xl>.col.m-6x5 {
    width: calc(83.3333333333% - 1.5rem);
  }
  .gutter-xl>.col.m-4x2 {
    width: calc(50% - 1.5rem);
  }
  .gutter-xl>.col.m-4x3 {
    width: calc(75% - 1.5rem);
  }
  .gutter-xl>.col.m-3x2 {
    width: calc(66.6666666667% - 1.5rem);
  }
}

@media only screen and (min-width: 1024px) {
  .col.l-1 {
    width: 100%;
  }
  .col.l-2 {
    width: 50%;
  }
  .col.l-3 {
    width: 33.3333334%;
  }
  .col.l-4 {
    width: 25%;
  }
  .col.l-6 {
    width: 16.6666667%;
  }
  .col.l-6x2 {
    width: 33.3333334%;
  }
  .col.l-6x3 {
    width: 50%;
  }
  .col.l-6x4 {
    width: 66.6666666667%;
  }
  .col.l-6x5 {
    width: 83.3333333333%;
  }
  .col.l-4x2 {
    width: 50%;
  }
  .col.l-4x3 {
    width: 75%;
  }
  .col.l-3x2 {
    width: 66.6666666667%;
  }
  .gutter-m>.col.l-1 {
    width: calc(100% - 1rem);
  }
  .gutter-m>.col.l-2 {
    width: calc(50% - 1rem);
  }
  .gutter-m>.col.l-3 {
    width: calc(33.3333334% - 1rem);
  }
  .gutter-m>.col.l-4 {
    width: calc(25% - 1rem);
  }
  .gutter-m>.col.l-6 {
    width: calc(16.6666667% - 1rem);
  }
  .gutter-m>.col.l-6x2 {
    width: calc(33.3333334% - 1rem);
  }
  .gutter-m>.col.l-6x3 {
    width: calc(50% - 1rem);
  }
  .gutter-m>.col.l-6x4 {
    width: calc(66.6666666667% - 1rem);
  }
  .gutter-m>.col.l-6x5 {
    width: calc(83.3333333333% - 1rem);
  }
  .gutter-m>.col.l-4x2 {
    width: calc(50% - 1rem);
  }
  .gutter-m>.col.l-4x3 {
    width: calc(75% - 1rem);
  }
  .gutter-m>.col.l-3x2 {
    width: calc(66.6666666667% - 1rem);
  }
  .gutter-l>.col.l-1 {
    width: calc(100% - 2rem);
  }
  .gutter-l>.col.l-2 {
    width: calc(50% - 2rem);
  }
  .gutter-l>.col.l-3 {
    width: calc(33.3333334% - 2rem);
  }
  .gutter-l>.col.l-4 {
    width: calc(25% - 2rem);
  }
  .gutter-l>.col.l-6 {
    width: calc(16.6666667% - 2rem);
  }
  .gutter-l>.col.l-6x2 {
    width: calc(33.3333334% - 2rem);
  }
  .gutter-l>.col.l-6x3 {
    width: calc(50% - 2rem);
  }
  .gutter-l>.col.l-6x4 {
    width: calc(66.6666666667% - 2rem);
  }
  .gutter-l>.col.l-6x5 {
    width: calc(83.3333333333% - 2rem);
  }
  .gutter-l>.col.l-4x2 {
    width: calc(50% - 2rem);
  }
  .gutter-l>.col.l-4x3 {
    width: calc(75% - 2rem);
  }
  .gutter-l>.col.l-3x2 {
    width: calc(66.6666666667% - 2rem);
  }
  .gutter-xl>.col.l-1 {
    width: calc(100% - 3rem);
  }
  .gutter-xl>.col.l-2 {
    width: calc(50% - 3rem);
  }
  .gutter-xl>.col.l-3 {
    width: calc(33.3333334% - 3rem);
  }
  .gutter-xl>.col.l-4 {
    width: calc(25% - 3rem);
  }
  .gutter-xl>.col.l-6 {
    width: calc(16.6666667% - 3rem);
  }
  .gutter-xl>.col.l-6x2 {
    width: calc(33.3333334% - 3rem);
  }
  .gutter-xl>.col.l-6x3 {
    width: calc(50% - 3rem);
  }
  .gutter-xl>.col.l-6x4 {
    width: calc(66.6666666667% - 3rem);
  }
  .gutter-xl>.col.l-6x5 {
    width: calc(83.3333333333% - 3rem);
  }
  .gutter-xl>.col.l-4x2 {
    width: calc(50% - 3rem);
  }
  .gutter-xl>.col.l-4x3 {
    width: calc(75% - 3rem);
  }
  .gutter-xl>.col.l-3x2 {
    width: calc(66.6666666667% - 3rem);
  }
  .hidden-l {
    display: none!important;
    visibility: hidden!important;
  }
}

@media only screen and (max-width:1023px) {
  .grid .gutter-m {
    width: calc(100% + .5rem);
  }
  .grid .gutter-l {
    width: calc(100% + 1rem);
  }
  .grid .gutter-xl {
    width: calc(100% + 1.5rem);
  }
  .gutter-m>.col {
    margin-right: .5rem;
  }
  .gutter-l>.col {
    margin-right: 1rem;
  }
  .gutter-xl>.col {
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width:1024px) {
  .grid .gutter-m {
    width: calc(100% + 1rem);
  }
  .grid .gutter-l {
    width: calc(100% + 2rem);
  }
  .grid .gutter-xl {
    width: calc(100% + 3rem);
  }
  .gutter-m>.col {
    margin-right: 1rem;
  }
  .gutter-l>.col {
    margin-right: 2rem;
  }
  .gutter-xl>.col {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 1152px) {
  .hidden-xl {
    display: none!important;
    visibility: hidden!important;
  }
}
