/*
* header.css
*/

@media only screen and (max-width: 511px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 512px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}

.global-header.affix-header {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.page.-blog .global-header:not(.fixed),
.page.-blog-interna .global-header:not(.fixed) {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  width: initial;
}

#html .global-header.fixed .btn-toggle-menu .fa {
  color: white;
}

@media only screen and (max-width: 1023px) {
  .global-header {
    padding-top: $_s;
    padding-bottom: $_s;
  }
}

@media only screen and (min-width: 1024px) {
  .global-header {
    padding-top: $_m;
    padding-bottom: $_m;
  }
  .global-header:not(.affix-header) {
    padding-top: $_m;
    padding-bottom: $_m;
  }
}

.global-header.fixed:not(.show-search) {
  padding-top: $_s;
  padding-bottom: $_s;
}

.global-header.fixed .logo {
  max-height: $_l;
  width: auto;
}

.global-header .brand-holder,
.global-header .brand-holder a {
  float: left;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1023px) {
  .global-header .logo {
    max-height: $_xl;
    width: auto;
  }
}

@media only screen and (max-width: 1023px) {
  #mobileMenu ul {
    width: 100% !important;
  }
}

.global-header .brand-holder {
  text-align: left;
}