/*
  list.css */

a.active {
  cursor: default !important;
}

.list {
  vertical-align: top;
  word-wrap: break-word;
}

.list>li {
  position: relative;
  vertical-align: top;
}

.list.-menu>li>a {
  display: block;
  overflow: hidden;
  padding-right: $_m;
  padding-left: $_m;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.list>li>a:hover {
  text-shadow: 0 0 0;
}

.list a.active {
  font-weight: 700;
}

.list.-inline>li {
  display: inline-block;
  vertical-align: middle;
}

.list.-tab>li {
  display: list-item;
}

.list.-tab>li~li {
  margin-top:$_s;
}

.list.-table {
  display: table;
  width: 100%;
}

.list.-table>li {
  display: table-cell;
  vertical-align: middle;
}

.list.-links>li+li {
  margin-top: .25rem;
}

.list.-links>li a:hover {
  text-decoration: underline;
}

.list.-column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}

.list.col-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}

.list.col-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -ms-column-count: 4;
  -o-column-count: 4;
  column-count: 4;
}

.list.-column>li {
  display: inline-block;
  width: 100%;
}

.list.-styled {
  padding-left: 1.2rem;
  list-style-type: disc;
}

.list.-styled>li {
  line-height: 1.5;
  margin-bottom: $_m;
}

.list.-styled li>a {
  padding-left: 0;
}

.list.-styled ul {
  padding-left: $_l;
  list-style-type: circle;
}

.list.-styled>li ul {
  margin-top: $_m;
  margin-bottom: $_l;
}

.list.-category--inner {
  margin-bottom: .75rem;
  padding-left: $_m;
}

@-webkit-keyframes animeIn {
  0% {
    -webkit-transform: scale(.3);
    transform: scale(.3);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = 0)";
    -webkit-filter: alpha (Opacity=0);
    filter: alpha (Opacity=0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: inherit;
  }
}

@keyframes animeIn {
  0% {
    -webkit-transform: scale(.3);
    transform: scale(.3);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity = 0)";
    -webkit-filter: alpha (Opacity=0);
    filter: alpha (Opacity=0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: inherit;
  }
}

@-webkit-keyframes animeDropdown {
  from {
    -webkit-transform: translateY(-$_m);
    transform: translateY(-$_m);
    opacity: .5;
  }
}

@keyframes animeDropdown {
  from {
    -webkit-transform: translateY(-$_m);
    transform: translateY(-$_m);
    opacity: .5;
  }
}

.anime-dropdown {
  -webkit-animation: animeDropdown 460ms 0s normal ease both;
  animation: animeDropdown 460ms 0s normal ease both;
  -webkit-animation-timing-function: cubic-bezier(.160, .560, .170, .999);
  animation-timing-function: cubic-bezier(.160, .560, .170, .999);
}

@media only screen and (min-width: 1024px) {
  .list-dropdown {
    position: relative;
    z-index: auto;
  }
  .list-dropdown:not(.with-icon)>a::after {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    margin-left:$_s;
    content: "\f078";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transform: scaleY(.85) scaleX(1.5);
    transform: scaleY(.85) scaleX(1.5);
    vertical-align: middle;
    color: inherit;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-drag: none;
  }
  .list-dropdown.with-icon>a>.fa {
    margin-left: $_s;
    font-size: 140%;
    line-height: 0.75;
    vertical-align: middle;
  }
  .list-dropdown.hover .dropdown,
  .list-dropdown:hover .dropdown {
    z-index: 100;
    display: block;
  }
  .dropdown {
    position: absolute;
    z-index: -1;
    top: 100%;
    display: none;
    margin-top: -1px;
    -webkit-animation: animeDropdown 460ms 0s normal ease both;
    animation: animeDropdown 460ms 0s normal ease both;
    -webkit-animation-timing-function: cubic-bezier(.160, .560, .170, .999);
    animation-timing-function: cubic-bezier(.160, .560, .170, .999);
    text-align: left;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
  .dropdown:only-of-type {
    min-width: 100%;
    max-width: 200px;
  }
  .dropdown:not(:only-of-type) {
    width: 100%;
  }
  .dropdown:nth-child(2) {
    left: 0;
  }
  .dropdown:nth-child(3) {
    left: 100%;
  }
  .dropdown:nth-child(4) {
    left: 200%;
  }
  .dropdown:nth-child(5) {
    left: 300%;
  }
  .dropdown:nth-child(6) {
    left: 400%;
  }
  .dropdown.-login {
    width: 500%;
    max-width: 460px;
    padding: $_m;
  }
  .dropdown>li,
  .dropdown>li a {
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  .dropdown.-login {
    max-width: 90vw;
  }
}
