/*
  media.css */


/**
* Flexible media embeds
* Based on: http://alistapart.com/article/creating-intrinsic-ratios-for-video
*/

.media {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 !important;
}

.media .ratio {
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.media .ratio-3by1 {
  padding-bottom: calc(100% / 3);
}

.media .ratio-2by1 {
  padding-bottom: 50%;
}

.media .ratio-16by9 {
  padding-bottom: 56.25%;
}

.media .ratio-4by3 {
  padding-bottom: 75%;
}

@media only screen and (max-width: 511px) {
  .media .-s-ratio {
    padding-bottom: 100%;
  }
  .media .-s-3by1 {
    padding-bottom: calc(100% / 3);
  }
  .media .-s-2by1 {
    padding-bottom: 50%;
  }
  .media .-s-16by9 {
    padding-bottom: 56.25%;
  }
  .media .-s-4by3 {
    padding-bottom: 75%;
  }
}

@media only screen and (min-width: 512px) and (max-width: 1023px) {
  .media .-m-3by1 {
    padding-bottom: calc(100% / 3);
  }
  .media .-m-2by1 {
    padding-bottom: 50%;
  }
  .media .-m-16by9 {
    padding-bottom: 56.25%;
  }
  .media .-m-4by3 {
    padding-bottom: 75%;
  }
}

.media .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.media .-photo {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.media .content img,
.media .content iframe {
  width: 100%;
}

.media .content iframe {
  height: 100%;
}

.media.-inline .content:not(.-caption) {
  text-align: center;
}

.media.-inline .content:not(.-caption)::before {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 100%;
  content: " ";
  vertical-align: middle;
}

.media.-inline .content:not(.-caption) img {
  display: inline-block;
  width: auto;
  max-width: 95%;
  vertical-align: middle;
}

.media.-anime:hover .content img {
  -webkit-transition: all .2s cubic-bezier(.0, .0, .58, 1.0);
  transition: all .2s cubic-bezier(.0, .0, .58, 1.0);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.media.-border .content::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  -webkit-transition: border .2s;
  transition: border .2s;
  border-width: 0;
  border-style: solid;
}

.media.-border:hover .content::after {
  border-width: 4px;
}

.media .content {
  z-index: auto;
}

.media .content.-caption {
  z-index: 20;
}

.media .content.-top,
.media .content.-bottom,
.media .content.-middle {
  padding: $_m;
}

.media .content.-top {
  top: 0;
  bottom: auto;
  height: auto;
}

.media .content.-bottom {
  top: auto;
  bottom: 0;
  height: auto;
}

.media .content.-middle {
  top: 50%;
  bottom: auto;
  height: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.media.-anime-overlay .ratio::after {
  position: absolute;
  z-index: 100;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  -webkit-transition: all 1s cubic-bezier(.0, .0, .58, 1.0);
  transition: all 1s cubic-bezier(.0, .0, .58, 1.0);
  pointer-events: none;
  background-color: rgba(2, 18, 51, 0);
}

.media.-anime-overlay:hover .ratio::after {
  background-color: rgba(2, 18, 51, .6);
}

.media.-anime-overlay:hover .content.-photo {
  -webkit-transition: all .3s cubic-bezier(.0, .0, .58, 1.0);
  transition: all .3s cubic-bezier(.0, .0, .58, 1.0);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.media.-anime-overlay:hover img {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
