/*
* mobile-menu.css */

html.-open,
html.-open body {
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  #html .mobile-menu--header,
  #html .mobile-menu--footer,
  #html .btn-toggle-menu {
    display: none;
  }
  .mobile-menu:not(.-open) {
    background: transparent;
  }
  #mobileMenu [data-mobilemenu-content] {
    display: none;
  }
}

.btn-toggle-menu {
  line-height: $_xl;
  position: relative;
  z-index: 10;
  display: inline-block;
  width: $_xl;
  height: $_xl;
  padding: 0 !important;
  text-align: center;
  border-radius: .25rem;
}

@media only screen and (max-width: 1023px) {
  .btn-toggle-menu {
    float: right;
  }
  .global-header .brand-holder {
    float: left;
  }
}

.btn-toggle-menu .fa {
  font-size: $_l;
  line-height: inherit;
  position: relative;
  top: 1px;
}

.btn-toggle-menu-close {
  float: right;
}

@media only screen and (max-width: 1023px) {
  .mobile-menu .btn-toggle-menu {
    font-size: 1.5rem;
    line-height: $_xl;
    width: $_xl;
    height: $_xl;
  }
  .mobile-menu .btn-toggle-menu .fa {
    font-size: 1.5rem;
    top: auto;
  }
  .mobile-menu {
    font-weight: 600;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    width: 90vw;
    max-width: 320px;
    height: $_100vh;
    padding: $_xl 0;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    color: rgba(0, 0, 0, .6);
    background-color: white;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .mobile-menu.-open {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px $_xl 0 rgba(0, 0, 0, .19);
  }
  .mobile-menu.mobile-menu--layer-visible {}
  .overlay--mobile-menu {
    z-index: 90;
  }
  .mobile-menu--header,
  .mobile-menu--footer {
    line-height: $_xl;
    position: relative;
    overflow: hidden;
    height: $_xl;
    color: rgba(255, 255, 255, .75);
    background-color: rgba(0, 0, 0, .25);
  }
  .mobile-menu--header {
    margin-top: -$_xl;
  }
  .mobile-menu--title {
    padding-left: $_m;
  }
  .mobile-menu--footer {
    margin-bottom: -$_xl;
    padding: 0 $_m;
  }
  .mobile-menu--container {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: $_m $_m 0;
  }
  .mobile-menu--layer-visible .mobile-menu--container {
    overflow: visible;
  }
  .mobile-menu--title {
    font-size: $_m;
    display: block;
    letter-spacing: .0$_xl;
    text-transform: uppercase;
    opacity: .75;
  }
  .mobile-menu.-open .list-dropdown .fa.fa-angle-down {
    display: inline-block;
    ;
  }
  .mobile-menu.-open .dropdown {
    display: block;
  }
  .mobile-menu--container>ul:not(:last-child) {
    margin-bottom: $_l;
  }
  .mobile-menu--container>ul>li {
    margin-right: -$_m;
    margin-left: -$_m;
  }
  #mobileMenu ul {
    vertical-align: top;
    word-wrap: break-word;
  }
  #mobileMenu .mobile-menu--container li {
    line-height: $_xl;
    position: static;
    display: list-item !important;
    padding-right: $_m;
    padding-left: $_m;
    vertical-align: top;
    color: inherit;
    border-radius: 0 !important;
  }
  #mobileMenu .mobile-menu--container li a {
    line-height: inherit !important;
    display: block !important;
    overflow: hidden;
    margin: 0;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    color: white;
    border-radius: 0 !important;
  }
  #mobileMenu .mobile-menu--container li a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin-left: $_m;
    content: "";
    background-color: rgba(0, 0, 0, .1);
  }
  #mobileMenu .mobile-menu--container li a:not(.btn) {
    margin: 0 -$_m;
    padding: 0 $_l 0 $_m;
  }
  #mobileMenu ul.list-table li:not(:last-child) {
    padding-right: $_m;
  }
  .list-social {
    line-height: $_xl;
    width: auto;
  }
  .list-social li {
    line-height: inherit;
    display: inline-block;
    margin: 0 $_m;
    vertical-align: middle;
  }
  .list-social .fa {
    font-size: 1.75rem;
    line-height: inherit !important;
    overflow: hidden;
    width: $_xl;
    height: $_xl;
    text-align: center;
    color: inherit;
  }
  .trigger-layer .fa.fa-angle-down {
    font-size: 23px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: $_m;
  }
  .trigger-layer .fa.fa-angle-down:before {
    content: "\f105";
  }
  .mobile-menu--layer {
    position: absolute;
    z-index: 999999;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc($_100vh + 6rem);
    margin-top: -$_xl;
    margin-bottom: -$_xl;
    padding: $_xl $_m;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    box-shadow: 0 0 100px 500px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .mobile-menu--layer.visible {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 100px 500px rgba(0, 0, 0, .5), 0 17px $_xl 0 rgba(0, 0, 0, .3);
  }
  .mobile-menu--layer .mobile-menu--header {
    margin-right: -$_m;
    margin-left: -$_m;
  }
  .mobile-menu--layer--btn-back {
    font-size: 15px;
    line-height: $_xl;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: $_xl;
    padding: 0 $_m;
    color: white;
  }
  .mobile-menu--layer--btn-back .fa-angle-left {
    font-size: $_l;
    margin-right: .75rem;
    vertical-align: bottom;
  }
  .mobile-menu--layer>ul {
    margin-top: $_m;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
  .mobile-menu--layer>ul>li {
    margin-right: -$_m;
    margin-left: -$_m;
  }
}


/*
* Aside Nav Menu */

@media only screen and (max-width: 1023px) {
  .aside-nav {
    font-weight: 600;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    width: 90vw;
    max-width: 320px;
    height: 100%;
    height: $_100vh;
    padding: $_xxl 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    color: rgba(0, 0, 0, .6);
    background-color: white;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .aside-nav--open {
    display: block;
    padding-right: $_m;
    padding-left: $_m;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px $_xl 0 rgba(0, 0, 0, .19);
  }
  .aside-nav--open #asideHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .aside-nav--open #asideHeader .btn-toggle-menu {
    background-color: transparent !important;
  }
  .aside-nav--open #asideHeader .fa {
    color: grey !important;
  }
  .aside-nav--open #asideHeader .fa:before {
    content: "\f00d";
  }
  .aside-nav-header {
    /*margin-bottom: $_m;*/
    line-height: $_l;
  }
  .aside-nav-header .btn-toggle-menu {
    float: right;
    background-color: #bbb;
  }
  .aside-nav-header .aside-nav--header--title {
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  .aside-nav-header .btn-toggle-menu {
    z-index: 0;
  }
  #html .aside-nav-header--title {
    line-height: $_xl;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #e2e2e2;
    padding-left: $_m;
  }
  .drag-target {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    width: $_m;
    height: $_100vh;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #html .aside-nav li {
    margin-top: 0;
    margin-bottom: 0;
  }

  #html .aside-nav li > a {
    line-height: $_xl;
  }
}

@media only screen and (min-width: 1024px) {
  .aside-nav-header {
    display: none;
  }
}
