// roboto.css

@font-face {
  font-family: "Roboto-Thin";
  font-style: normal;
  src: url("../fonts/Roboto/Thin/Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/Thin/Roboto-Thin.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/Thin/Roboto-Thin.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Thin-italic";
  font-style: italic;
  src: url("../fonts/Roboto/ThinItalic/Roboto-ThinItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/ThinItalic/Roboto-ThinItalic.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/ThinItalic/Roboto-ThinItalic.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  src: url("../fonts/Roboto/Light/Roboto-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/Light/Roboto-Light.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-light-Italic";
  font-style: italic;
  src: url("../fonts/Roboto/LightItalic/Roboto-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/LightItalic/Roboto-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/LightItalic/Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  font-style: italic;
  src: url("../fonts/Roboto/Italic/Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/Italic/Roboto-Italic.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/Italic/Roboto-Italic.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  src: url("../fonts/Roboto/Medium/Roboto-Medium.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/Medium/Roboto-Medium.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/Medium/Roboto-Medium.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium-Italic";
  font-style: italic;
  src: url("../fonts/Roboto/MediumItalic/Roboto-MediumItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/MediumItalic/Roboto-MediumItalic.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/MediumItalic/Roboto-MediumItalic.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  src: url("../fonts/Roboto/Bold/Roboto-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/Bold/Roboto-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/Bold/Roboto-Bold.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold-Italic";
  font-style: italic;
  src: url("../fonts/Roboto/BoldItalic/Roboto-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/BoldItalic/Roboto-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/BoldItalic/Roboto-BoldItalic.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  font-style: normal;
  src: url("../fonts/Roboto/Black/Roboto-Black.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/Black/Roboto-Black.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/Black/Roboto-Black.ttf?v=1.1.0") format("truetype");
}

@font-face {
  font-family: "Roboto-Black-Italic";
  font-style: italic;
  src: url("../fonts/Roboto/BlackItalic/Roboto-BlackItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/Roboto/BlackItalic/Roboto-BlackItalic.woff?v=1.1.0") format("woff"), url("../fonts/Roboto/BlackItalic/Roboto-BlackItalic.ttf?v=1.1.0") format("truetype");
}