/*
  table.css */

table.-bordered {
  width: 100%;
}

table.-bordered thead {
  background-color: #e8e8e8;
}

table.-bordered td {
  padding: .5em;
  vertical-align: top;
  border: 1px solid #e8e8e8;
}

table.-bordered>thead>tr>th,
table.-bordered>thead>tr>td {
  border-bottom-width: 2px;
}

table.-grey {
  position: relative;
  width: 100%;
  border-collapse: separate;
}

table.-grey thead td {
  color: white;
  background-color: #ababab;
}

table.-grey td {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

table.-grey td:last-child {
  border-right: 0 none;
}

table.-grey td {
  line-height: 2em;
  padding: 0 1em;
}

table.-grey tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

table.-grey tbody tr:nth-child(even) {
  background-color: #eaeaea;
}