/*
theme.css */

$c-brand: #8f060f;
$c-brand-light: #a01a21;
$c-brand-dark: #7b0709;
$c-contrast: #343333;
$c-contrast-light: #414040;
$c-contrast-dark: #232222;
$c-alt: #ff0000;
$c-alt-light: #f81c1c;
$c-alt-dark: #e40e0e;
.bc-brand {
  color: $c-brand;
}

.bc-brand-light {
  background-color: $c-brand-light;
}

.bc-brand-dark {
  background-color: $c-brand-dark;
}

.bc-contrast {
  background-color: $c-contrast;
}

.bc-contrast-light {
  background-color: $c-contrast-light;
}

.bc-contrast-dark {
  background-color: $c-contrast-dark;
}

.bc-alt {
  background-color: $c-alt;
}

.bc-alt-light {
  background-color: $c-alt-light;
}

.bc-alt-dark {
  background-color: $c-alt-dark;
}

.c-brand {
  color: $c-brand;
}

.c-brand-light {
  color: $c-brand-light;
}

.c-brand-dark {
  color: $c-brand-dark;
}

.c-contrast {
  color: $c-contrast;
}

.c-contrast-light {
  color: $c-contrast-light;
}

.c-contrast-dark {
  color: $c-contrast-dark;
}

.c-alt {
  color: $c-alt;
}

.c-alt-light {
  color: $c-alt-light;
}

.c-alt-dark {
  color: $c-alt-dark;
}

.bc-white {
  background-color: white;
}

.bc-WhiteSmoke {
  background-color: WhiteSmoke;
}

.bc-Bold {
  background-color: black;
}

.bc-grey {
  background-color: grey;
}

.bc-lightgrey {
  background-color: #e6e6e6;
}

.bc-light {
  background-color: #f4f4f4;
}

.bc-mute {
  background-color: #ccc;
}

.bc-green {
  background-color: #5ec770;
}

.bc-red {
  background-color: #ff594c;
}

.bc-blue {
  background-color: #1890c2;
}

.c-blue {
  color: #1890c2;
}

.c-red {
  color: #ff594c;
}

.c-green {
  color: #5ec770;
}

.c-white {
  color: white;
}

.c-WhiteSmoke {
  color: WhiteSmoke;
}

.c-Bold {
  color: black;
}

.c-grey {
  color: grey;
}

.c-lightgrey {
  color: #e6e6e6;
}

.c-light {
  color: #ccc;
}

.c-mute {
  color: #aaa;
}

.bc-facebook {
  background-color: #3b5998;
}

.c-facebook {
  color: #3b5998;
}

.bc-twitter {
  background-color: #55acee;
}

.c-twitter {
  color: #55acee;
}

.bc-googleplus {
  background-color: #dd4c3b;
}

.c-googleplus {
  color: #dd4c3b;
}

.bc-instagram {
  background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -webkit-radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(315deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}

.c-instagram {
  color: #306089;
}

::selection {
  color: white;
  background: $c-brand;
}

::-moz-selection {
  color: white;
  background: $c-brand;
}

/* Trasitions */

a,
img,
input,
select,
textarea,
.btn,
.fancy-select .trigger {
  -webkit-transition: all .24s cubic-bezier(.0, .0, .58, 1.0);
  transition: all .24s cubic-bezier(.0, .0, .58, 1.0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Inputs */

input,
select,
textarea,
.fancy-select .trigger {
  box-shadow: inset 0 0 0 1px #bababa;
  /*box-shadow: inset 0 0 0 1px #e2e2e2;*/
  /*background-color: #f7f8f8;*/
}

[type="button"],
[type="submit"] {
  box-shadow: none;
}

.btn,
button,
input,
select,
textarea,
.list.-menu>li>a {
  line-height: $_l;
  border-radius: $_s;
}

.btn.-small,
.input.-small,
select.-small,
textarea.-small,
.list.-menu.-small>li>a {
  line-height: 1.5rem;
  border-radius: $_s;
}

.btn.-medium,
input.-medium,
select.-medium,
textarea.-medium,
.list.-menu.-medium>li>a {
  line-height: $_xl;
  border-radius: $_s;
}

.btn.-large,
input.-large,
select.-large,
textarea.-large,
.list.-menu.-large>li>a {
  line-height: $_xxl;
  border-radius: $_s;
}

@media only screen and (min-width: 1024px) {
  .btn.-small {
    font-size: .8rem;
  }
  .btn.-medium {
    font-size: 1.1rem;
  }
  .btn.-large {
    font-size: 1.3rem;
  }
}

select:hover,
textarea:hover,
[type="text"]:hover,
[type="password"]:hover,
[type="datetime"]:hover,
[type="datetime-local"]:hover,
[type="date"]:hover,
[type="month"]:hover,
[type="time"]:hover,
[type="week"]:hover,
[type="number"]:hover,
[type="email"]:hover,
[type="url"]:hover,
[type="search"]:hover,
[type="tel"]:hover,
.fancy-select .trigger:hover {
  box-shadow: inset 0 0 0 1px $c-brand;
}

select:focus,
textarea:focus,
[type="text"]:focus,
[type="password"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="date"]:focus,
[type="month"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[type="number"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
.fancy-select .trigger:focus,
.fancy-select .trigger.open {
  box-shadow: inset 0 0 0 2px $c-brand;
}

/* Buttons */

.btn.-primary {
  /*color: #2f3a41;*/
  background-color: $c-brand;
}

.btn.-primary:hover,
.btn.-primary.active {
  background-color: $c-brand-light;
}

.btn.-primary:active {
  background-color: $c-brand-dark;
}

.btn.-contrast {
  background-color: $c-contrast;
}

.btn.-contrast:hover,
.btn.-contrast.active {
  background-color: $c-contrast-light;
}

.btn.-contrast:active {
  background-color: $c-contrast-dark;
}

.btn.-alt {
  background-color: $c-alt;
}

.btn.-alt:hover,
.btn.-alt.active {
  background-color: $c-alt-light;
}

.btn.-alt:active {
  background-color: $c-alt-dark;
}

.btn.-border-primary {
  color: $c-brand;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $c-brand;
}

.btn.-border-primary:hover,
.btn.-border-primary.active,
.btn.-border-primary:active {
  color: white;
  background-color: $c-brand;
}

.btn.-border-contrast {
  color: $c-contrast;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $c-contrast;
}

.btn.-border-contrast:hover,
.btn.-border-contrast.active,
.btn.-border-contrast:active {
  color: white;
  background-color: $c-contrast;
}

.btn.-border-alt {
  color: $c-alt;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $c-alt;
}

.btn.-border-alt:hover,
.btn.-border-alt.active,
.btn.-border-alt:active {
  color: white;
  background-color: $c-alt;
}

/* List Items
========================================================================== */

.list.-primary>li>a:hover,
.list.-primary>li>a.active {
  color: white;
  background-color: $c-brand;
}

.list.-contrast>li>a:hover,
.list.-contrast>li>a.active {
  color: white;
  background-color: $c-contrast;
}

.list.-alt>li>a:hover,
.list.-alt>li>a.active {
  color: white;
  background-color: $c-alt;
}

.list.-light>li>a:hover,
.list.-light>li>a.active {
  background-color: #f4f4f4;
  /*color: white;*/
}

.dropdown {
  background-color: #e0e0e0;
  color: #333;
  box-shadow: none;
  padding: $_m 0;
  border-radius: $_s;
}

.list.-tab>li {
  line-height: 2.5rem;
}

.list.-tab>li>a {
  /*color: #007360;*/
  background-color: #e8e8e8;
}

.list.-tab>li>a:hover,
.list.-tab>li>a.active {
  color: white;
  background-color: $c-brand;
}

/* Fonts - Edição especial para tema
========================================================================== */

.btn {
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serif;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .1), 0 17px 50px 0 rgba(0, 0, 0, .1);
}