/*
  typography.css */

@media (min-width:0) and (max-width:511px) {
  :root {
    font: normal normal normal 13px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
}

@media (min-width:512px) and (max-width:767px) {
  :root {
    font: normal normal normal 14px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  :root {
    font: normal normal normal 15px/1.3 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
}

@media (min-width:1024px) {
  :root {
    font: normal normal normal 100%/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
}

body {
  color: rgba(0, 0, 0, 0.8);
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-device-width:1023px) {
  html body {
    color: black;
  }
}

@media (max-width:767px) {
  h1 {
    font-size: 1.55rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1.05rem;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: $_l;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.15rem;
  }
}

@media (min-width:1024px) {
  h1 {
    font-size: $_xl;
  }
  h2 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: $_l;
  }
  h4 {
    font-size: 1.75rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: $_m;
  }
}

h1,
h2 {
  font-weight: 200;
}

h3,
h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: 700;
}

dfn,
em,
i {
  font-style: italic;
}

b,
label,
option,
strong {
  font-weight: 600;
}

.text-light {
  font-weight: 200;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 800;
}