/*
  utilities.css */

.main-content,
.global-header,
.global-footer {
  clear: both;
}

@media only screen and (min-width: 1024px) {
  .main-content {
    min-height: 0;
  }
  .main-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.hero.-responsive .slick-slide {
  overflow: hidden;
}

@media only screen and (max-width: 511px) {
  .hero.-responsive .media .ratio {
    padding-bottom: calc(100% / .85);
  }
  .hero.-single .media .ratio {
    padding-bottom: calc(100% / 1);
  }
}

@media only screen and (min-width: 512px) and (max-width: 1023px) {
  .hero.-responsive .media .ratio {
    padding-bottom: calc(100% / 1.3333);
  }
  .hero.-single .media .ratio {
    padding-bottom: 30rem;
  }
}

@media only screen and (min-width: 1024px) {
  .hero.-responsive .media .ratio {
    padding-bottom: 697px;
  }
  .hero.-single .media .ratio {
    padding-bottom: 36rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section {
    margin-top: $_xl;
    margin-bottom: $_xl;
  }
  .section.-small {
    margin-top: $_m;
    margin-bottom: $_m;
  }
  .section.-large {
    margin-top: $_xxl;
    margin-bottom: $_xxl;
  }
  .section.-xlarge {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .section.-p {
    padding-top: $_xl;
    padding-bottom: $_xl;
  }
  .section.-p.-small {
    padding-top: $_m;
    padding-bottom: $_m;
  }
  .section.-p.-large {
    padding-top: $_xxl;
    padding-bottom: $_xxl;
  }
  .section.-p.-xlarge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media only screen and (max-width: 1023px) {
  html body .section {
    margin-top: $_l;
    margin-bottom: $_l;
  }
  html body .section.-p {
    padding-top: $_l;
    padding-bottom: $_l;
  }
}

.section.-p {
  margin-top: 0;
  margin-bottom: 0;
}

.section.-p+.section.-p {
  padding-top: 0;
}

.section.-p>.section.-p+.section.-p {
  padding-top: 0;
}

.section.-p>.section.-p .section.-p:last-child {
  padding-bottom: 0;
}

/* Techniques that make content inaccessible (invisible to all users).
* [https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html]*/

.invisible,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
}

:root:hover .invisible *,
:root:hover .visually-hidden * {
  display: none !important;
}

.truncate,
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.shadow-l {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.shadow-xl {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.va,
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.molding {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.molding {
  line-height: $_l !important;
  overflow: hidden;
  width: $_l;
  height: $_l;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.molding.-xs {
  line-height: $_s !important;
  width: $_s;
  height: $_s;
}

.molding.-s {
  line-height: $_m !important;
  width: $_m;
  height: $_m;
}

.molding.-m {
  line-height: $_l !important;
  width: $_l;
  height: $_l;
}

.molding.-l {
  line-height: $_xxl !important;
  width: $_xxl;
  height: $_xxl;
}

.molding.-xl {
  line-height: 8rem !important;
  width: 8rem;
  height: 8rem;
}

.molding.-xxl {
  line-height: 16rem !important;
  width: 16rem;
  height: 16rem;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade>p {
  position: relative;
  display: block;
  margin: $_m auto;
  padding: $_s $_l;
  text-align: center;
  color: #ddd;
  border-radius: .25rem;
  background: #444;
}

.browserupgrade>p>button {
  font-size: 1.5rem;
  line-height: .75;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  padding: $_s $_m;
  cursor: pointer;
  text-align: center;
  color: #eee;
  background: transparent;
}