/*
Variables.css */

$_xs: 0.25rem;
$_s: 0.5rem;
$_m: 1rem;
$_l: 2rem;
$_xl: 3rem;
$_xxl: 4rem;
$_16: 16.66666667%;
$_33: 33.33333333%;
$_66: 66.66666666%;
$_83: 83.33333332%;
$_100vh: 100vh;
$_100vw: 100vw;