/* ==========================================================================
   Variações da Grid
   
   @media only screen and (max-width: 511px) {}

   @media only screen and (max-width: 767px) {}

   @media only screen and (max-width: 1023px) {}

   @media only screen and (min-width: 512px) {}

   @media only screen and (min-width: 768px) {}

   @media only screen and (min-width: 1024px) {}
   ========================================================================== */

/* Typography
   ========================================================================== */

.ff-light {
  font-family: "Roboto-Light", sans-serif;
}

.ff-regular {
  font-family: "Roboto", sans-serif;
}

.ff-medium {
  font-family: "Roboto-Medium", sans-serif;
}

.ff-bold {
  font-family: "Roboto-Bold", sans-serif;
}

.ff-black {
  font-family: "Roboto-Black", sans-serif;
}

body {
  // font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.section-title {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2.25rem;
  text-transform: uppercase;
}

/* Secção: Header/Menu
   ========================================================================== */

.page.-affix-header .global-header:not(.fixed) {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin-top: 3rem;
  color: white;
}

@media only screen and (max-width: 1023px) {
  .global-header {
    padding-top: $_s;
    padding-bottom: $_s;
  }
  .global-header .logo {
    max-height: $_xl;
    width: auto;
  }
  #mobileMenu ul {
    width: 100% !important;
  }
}

.global-header.fixed .logo {
  max-height: 100%;
  width: auto;
  max-width: 128px;
}

.global-header .brand-holder,
.global-header .brand-holder a {
  float: left;
  margin: 0;
  padding: 0;
}

.global-header .brand-holder {
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  .global-header {
    padding-top: $_m;
    padding-bottom: $_m;
  }
  .global-header:not(.affix-header) {
    padding-top: $_m;
    padding-bottom: $_m;
  }
  .main-navigation {
    text-align: right;
    text-transform: uppercase;
  }
  .molding.-icon-menu {
    line-height: 3rem !important;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
  }
  .-icon-menu.-dropdown {
    line-height: 1.5rem !important;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.-icon-menu.-a-santri {
  background-image: url(../img/ICO_A-SANTRI.png);
}

.-icon-menu.-solucoes {
  background-image: url(../img/ICO_SOLUÇÕES.png);
}

.-icon-menu.-sistemas {
  background-image: url(../img/ICO_SISTEMAS.png);
}

.-icon-menu.-tecnologia {
  background-image: url(../img/ICO_TECNOLOGIA.png);
}

.-icon-menu.-contabilidade {
  background-image: url(../img/ICO_CONTABILIDADE.png);
}

.-icon-menu.-arquitetura {
  background-image: url(../img/ICO_ARQUITETURA.png);
}

.-icon-menu.-noticias {
  background-image: url(../img/ICO_NOTICIA.png);
}

.-icon-menu.-contato {
  background-image: url(../img/ICO_CONTATO.png);
}

/* affix-header */

@-webkit-keyframes animeAffixHeader {
  from {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    opacity: .5;
  }
}

@keyframes animeAffixHeader {
  from {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    opacity: .5;
  }
}

.global-header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: black;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: animeDropdown 460ms 0s normal ease both;
  animation: animeDropdown 460ms 0s normal ease both;
  -webkit-animation-timing-function: cubic-bezier(.160, .560, .170, .999);
  animation-timing-function: cubic-bezier(.160, .560, .170, .999);
}

.global-header.fixed .logo.-main {
  display: none;
}

.global-header.fixed .logo.-fixo {
  display: block;
}

.global-header:not(.fixed) .logo.-fixo {
  display: none;
}

.global-header.fixed [data-grid] {
  -webkit-transition: none;
  transition: none;
}

@media only screen and (max-width: 1023px) {
  .global-header.fixed [data-grid] {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Secção: Hero
   ========================================================================== */

.hero-watermark {
  text-align: center;
  margin-bottom: 2rem;
}

.hero-watermark img {
  max-width: 160px;
}

/* Secção: Sobre a Santri
   ========================================================================== */

.a-santri {
  text-align: center;
}

.a-santri .title {
  text-align: left;
}

.a-santri-destaque {
  padding-left: 15%;
  padding-right: 15%;
}

.molding.-asantri {
  margin-bottom: 2rem;
}

.molding.-missao {
  background-image: url(../img/ICO_MISSÃO.png);
}

.molding.-visao {
  background-image: url(../img/ICO_VISÃO.png);
}

.molding.-valores {
  background-image: url(../img/ICO_VALORES.png);
}

/* Secção: Soluções
========================================================================== */

.solucoes {
  color: white;
  text-align: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url(../img/solucoes-background.png);
  -webkit-transition: background-image .34s cubic-bezier(.0, .0, .58, 1.0);
  transition: background-image .34s cubic-bezier(.0, .0, .58, 1.0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.solucoes .title {
  margin-bottom: $_xxl;
}

.solucoes .btnShowMore {
  display: block;
}

.solucao .desc {
  box-shadow: inset 0 0 0 2px white;
  border-radius: $_s;
  padding: $_m;
  min-height: 180px;
  margin-top: 1rem;
  -webkit-transition: all .24s cubic-bezier(.0, .0, .58, 1.0);
  transition: all .24s cubic-bezier(.0, .0, .58, 1.0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.solucao:not(.active) .desc {
  opacity: 0;
}

.solucoes .subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
  font-weight: normal;
}

.-solucao.-sistemas {
  background-image: url(../img/ICO_SISTEMAS_BRANCO.png);
}

.-solucao.-tecnologia {
  background-image: url(../img/ICO_TECNOLOGIA_BRANCO.png);
}

.-solucao.-contabilidade {
  background-image: url(../img/ICO_CONTABILIDADE_BRANCO.png);
}

.-solucao.-arquitetura {
  background-image: url(../img/ICO_ARQUITETURA_BRANCO.png);
}

.-solucao.-plus {
  background-image: url(../img/ICO_PLUS.png);
}

.solucoes-watermark {
  margin-top: 4rem;
  margin-bottom: -4rem;
}

/* Secção: Notícias
   ========================================================================== */

.noticias>.wrapper {
  padding-left: 17%;
  padding-right: 17%;
}

.noticias .title {
  margin-bottom: $_xl;
}

.noticia {
  padding-bottom: $_s;
  border-bottom: $_xs dotted #333;
}

.noticia .subtitle {
  color: $c-alt;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0;
}

.noticia+.noticia {
  margin-top: 2rem;
}

.molding.-plus-black {
  background-image: url(../img/ICO_PLUS_PRETO.png);
}

.noticias .seemore {
  margin-top: $_xxl;
  text-align: right;
  text-transform: uppercase;
}

/* Secção: Pesquisa de Satisfação (gráfico)
   ========================================================================== */

.pesquisa-watermark {
  text-align: center;
}

.pesquisa .title {
  margin-bottom: 6rem;
  text-align: center;
}

/* Secção: Footer
   ========================================================================== */

.global-footer {
  color: white;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url(../img/BACKGRAUND.png);
}

.global-footer .subtitle {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.footer-contato {}

.footer-contato .item-contato {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 2.5rem auto;
  padding-left: 3.5rem;
  min-height: 2.5rem;
}

.footer-contato .item-contato+.item-contato {
  margin-top: 2rem;
}

.footer-contato .item-contato.-telefone {
  background-image: url(../img/ICO_TELEFONE.png);
  line-height: 2.5rem;
}

.footer-contato .item-contato.-endereco {
  background-image: url(../img/ICO_ENDEREÇO.png);
}

.form-container {
  background-color: #dcdcdc;
  padding: 4rem 2rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 460px;
  float: right;
  text-align: center;
}

.form-container .title {
  background-color: #8f060f;
  text-transform: uppercase;
  font-family: "Roboto-Bold", sans-serif;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: -5.5rem auto 3rem auto;
  max-width: 80%;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .1), 0 17px 50px 0 rgba(0, 0, 0, .1);
}

.form-contato {
  text-align: left;
}

.form-contato .input:not(.-radio) {
  border-radius: 0;
  box-shadow: inset 0 -2px 0 0px #777777;
  padding: 0;
  background-color: transparent;
}

.form-contato .input:not(.-radio):hover {
  box-shadow: inset 0 -2px 0 0px #654b4b;
}

.form-contato .input:not(.-radio):focus {
  box-shadow: inset 0 -2px 0 0px #8f060f;
}

.form-contato [type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

.form-contato [type="checkbox"]::before {
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 2px #777777;
}

.form-contato [type="checkbox"]::after {
  width: 7px;
  height: 12px;
  margin-top: 2px;
  margin-left: 7px;
  border: solid #777777;
  border-width: 0 3px 3px 0;
}

.form-contato .captcha {
  float: left;
  text-transform: uppercase;
}

.form-contato ::placeholder {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Roboto-Medium", sans-serif;
  color: #654b4b;
}

.form-contato :-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Roboto-Medium", sans-serif;
  color: #654b4b;
}

.form-contato ::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Roboto-Medium", sans-serif;
  color: #654b4b;
}

.form-contato .actions {
  color: #654b4b;
}

.msg-success {
  color: #2ea542;
  font-size: 2rem;
  font-weight: normal;
  font-family: "Roboto-Light", sans-serif;
  text-align: center;
}

.footer-watermark {}

.molding.-social {}

.menu-item-social+.menu-item-social {
  margin-left: 1rem;
}

.molding.-facebook {
  background-image: url(../img/ICO_FACE.png);
}

.molding.-instagram {
  background-image: url(../img/ICO_INSTA.png);
}

.molding.-youtube {
  background-image: url(../img/ICO_VÍDEO.png);
}